.e194_274 {
	background-color: rgba(255, 255, 255, 1);
	width: 1440px;
	height: 1024px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
}

.e194_350 {
	width: 697px;
	height: 697px;
	position: absolute;
	left: 998px;
	top: 496px;
}

.e194_351 {
	width: 697px;
	height: 697px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e194_352 {
	opacity: 0.10000000149011612;
	width: 697px;
	height: 697px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e194_353 {
	width: 696.9999389648438px;
	height: 696.9999389648438px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e194_354 {
	background-color: rgba(0, 171.00000500679016, 85.0000025331974, 1);
	width: 696.9999389648438px;
	height: 696.9999389648438px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e194_359 {
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.10000000149011612);
	background-color: rgba(255, 255, 255, 1);
	width: 1291px;
	height: 860px;
	position: absolute;
	left: 74px;
	top: 82px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e195_448 {
	width: 419px;
	height: 364px;
	position: absolute;
	left: 809px;
	top: 314px;
}

.e195_449 {
	color: rgba(0, 0, 0, 1);
	width: 150px;
	height: 25px;
	position: absolute;
	left: 119px;
	top: 0px;
	font-family: Quicksand;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.e195_450 {
	color: rgba(0, 0, 0, 1);
	width: 92px;
	height: 22px;
	position: absolute;
	left: 296px;
	top: 288px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_451 {
	color: rgba(0, 0, 0, 1);
	width: 192px;
	height: 27px;
	position: absolute;
	left: 2px;
	top: 73px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_452 {
	color: rgba(0, 0, 0, 1);
	width: 114px;
	height: 23px;
	position: absolute;
	left: 296px;
	top: 73px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_453 {
	color: rgba(0, 0, 0, 1);
	width: 154px;
	height: 28px;
	position: absolute;
	left: 2px;
	top: 127px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_454 {
	color: rgba(0, 0, 0, 1);
	width: 83px;
	height: 22px;
	position: absolute;
	left: 296px;
	top: 127px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_455 {
	color: rgba(0, 0, 0, 1);
	width: 207px;
	height: 25px;
	position: absolute;
	left: 2px;
	top: 186px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_457 {
	color: rgba(0, 0, 0, 1);
	width: 95px;
	height: 26px;
	position: absolute;
	left: 2px;
	top: 234px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_458 {
	color: rgba(0, 0, 0, 1);
	width: 55px;
	height: 29px;
	position: absolute;
	left: 295px;
	top: 234px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_459 {
	color: rgba(0, 0, 0, 1);
	width: 143px;
	height: 26px;
	position: absolute;
	left: 0px;
	top: 284px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_460 {
	color: rgba(0, 0, 0, 1);
	width: 123px;
	height: 22px;
	position: absolute;
	left: 296px;
	top: 342px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_461 {
	color: rgba(0, 0, 0, 1);
	width: 143px;
	height: 26px;
	position: absolute;
	left: 0px;
	top: 338px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_456 {
	color: rgba(0, 0, 0, 1);
	width: 47px;
	height: 21px;
	position: absolute;
	left: 1105px;
	top: 500px;
	font-family: Quicksand;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e195_447 {
	width: 491px;
	height: 629px;
	position: absolute;
	left: 211px;
	top: 216px;
}

.e195_442 {
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.10000000149011612);
	background-color: rgba(200.00000327825546, 250.00000029802322, 205.00000298023224, 1);
	width: 491px;
	height: 629px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.e195_446 {
	width: 362px;
	height: 44px;
	position: absolute;
	left: 65px;
	top: 522px;
}

.e195_444 {
	color: rgba(0, 0, 0, 1);
	width: 205px;
	height: 44px;
	position: absolute;
	left: 157px;
	top: 0px;
	font-family: Quicksand;
	text-align: left;
	font-size: 35px;
	letter-spacing: 0;
}

.e195_445 {
	color: rgba(0, 0, 0, 1);
	opacity: 0.6000000238418579;
	width: 86px;
	height: 44px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Quicksand;
	text-align: left;
	font-size: 35px;
	letter-spacing: 0;
}

.e195_441 {
	width: 491px;
	height: 491px;
	position: absolute;
	left: 0px;
	top: 13px;
	background-image: url(images/qr_code_for_mobile_english_wikipedia_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e194_360 {
	color: rgba(0, 0, 0, 1);
	width: 368px;
	height: 50px;
	position: absolute;
	left: 536px;
	top: 120px;
	font-family: Quicksand;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
}

body {
	background-color: rgb(217, 238, 225);
}

h1 {
	margin: 5px 20px 0px 20px;
	font-size: 80px;
}

.main {
	display: flex;
	margin-left: 5rem;
	font-size: 30px;
}

img {
	height: 300px;
	width: 300px;
}

.gr {
	border: 15px solid green;
	padding: 20px 20px 20px 20px;
	margin: 50px 0px 0px 10px;
	background-color: #f1f1f1;
}


.gr1 {
	border: 15px solid green;
	padding: 20px 20px 20px 20px;
	margin: 50px 0px 0px 0px;
	background-color: #f1f1f1;
}

.gr2 {
	border: 15px solid green;
	background-color: #f1f1f1;
	padding: 20px 20px 20px 20px;
	margin: 50px 50px 0px 0px;
}

p {
	padding: 0px 0px;
	margin: 10px 0px;
}

.button {
	background-color: #4CAF50;
	/* Green */
	border: none;
	border-radius: 3px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 35px;
	margin-left: 10px;
}

h3 {
	margin: 5px;
}